* {
  margin: 0;
  padding: 0;
}

.wrapper {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr auto;
  height: 100vh;
  gap: 10px;
  padding: 10px;
}

.header {
  padding: 30px 0;
}

.nav {
  padding: 5px;
}

.main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 10px;
}

.footer {
  padding: 10px 0;
}

.header,
.nav,
.content,
.sidebar,
.footer {
  border: 2px solid black;
  text-align: center;
}

.title {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
